<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_bq_dope_v2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/funcircle"
        android:supportsRtl="true"
        android:theme="@style/Theme.benji_quizzes">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Keep existing intent-filter if MainActivity can also be a launcher -->
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:exported="false" /> 
            <!-- exported=false because it's launched only by MainActivity -->

    </application>

</manifest>